body{
  background-color: #ECEEF1;
  font-family: AvenirNext,Avenir,Helvetica Neue,Helvetica,Arial,sans-serif;
}

/* Sign in button chracters*/
.sign_in_btn{
  background-color: #0077C5;
  border-color: black;
  border-radius: 4px;
  border-style: solid;
  border-width: thin;
  display: block;
  float:right;
  height: 34px;
  width: 103px;
}

.account{
  display: inline-block;
}

header{
  float: right;
  padding-right: 30px;
  width: 300px;
}

.sign_in{
  color: white;
}

.account_have{
color:#505050;
  float: right;
  font-size: 12px;
}

.account_forgot{
  color: #3077D3;
  float: right;
  font-size: 12px;
}

.fa-lock{
  color:white;
}

.mint-flavicon-text{
padding-bottom:5px;
}

.turbo-flavicon-text{
padding-bottom:5px;
}

/* Login Form*/
.title{
font-size:24px;
  text-align:center;
}
.text-account{
  margin-bottom: 0;
}

.main_info{
  clear:both;
  margin-left: auto;
  margin-right: auto;
  width: 380px;
}

.email{
  border: 1px solid #c1c5c8;
  border-radius: 3px;
  display: block;
  font-size: 16px;
  height: 32px;
  margin-left:auto;
  margin-right:auto;
  width: 320px;
}

.phone{
  border: 1px solid #c1c5c8;
  border-radius: 3px;
  display: block;
  font-size: 16px;
  height: 32px;
  margin-left:auto;
  margin-right:auto;
  width: 320px;
}

.login-standard{
  color: #797979;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top:0;
  text-align: left;
  width: 326px;
}

.password{
  border: 1px solid #c1c5c8;
  border-radius: 3px;
  display: block;
  font-size: 16px;
  height: 32px;
  margin-left:auto;
  margin-right:auto;
  width: 320px;
}

/* Images */
.logo-header{
  box-sizing: content-box;
  display:block;
  position:relative;
  text-align: center;
  width:100%;

}

.header-intuit--logo{
  box-sizing: content-box;
  font-weight: 400;
  text-align: center;
  width:180px;
  height:70px;


  }

  .logo-links{
    padding-bottom: 15px;
    text-align: center;
  }

  .resize-flav{
    width:24px;
  }

  .resize-flav-text{
    font-size: 16px;
  }

  .loginform{
    background-color:white;
    border-color:lightgray;
    border-style: solid;
    border-width: thin;
  }

  .loginform:first-child{
    background-color: blue;
    font-size: 24px;
  }

  .loginform :nth-child(2){
   
    font-weight: 300;
    outline:none;
    text-align: center;
    white-space:nowrap;
  }

  .loginform :nth-child(3){
    color: blue;
    font-size: 14px;
    margin-top: 0;
    text-align: center;
    vertical-align: top;
  }

  .create_btn{
    font-size: 15px;
    font-weight:bolder;
    background-color: #0077C5;
    border-radius: 4px;
    color:white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0px;
    padding-top: 0px;
    width: 326px;
    line-height:50px;
  }

  /* code to place in order */
  .input-text{
    box-sizing: border-box;
    color: #777777;
    display:block;
    font-family: AvenirNext,Avenir,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight:lighter;
    margin-bottom: 8px;
    margin-left:auto;
    margin-right:auto;
    margin-top:40px;
    max-width: 326px;
  }

  .final-login-info{
    color: #797979;
    margin-top: 40px;
    font-family:AvenirNext,Avenir,Helvetica Neue,Helvetica,Arial,sans-serif; ;
    font-size: 12px;
    text-align: center;
    line-height: 21px;
    width:72%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:0px;

    
  }

  .end-footerInvisible{
    background-color: #dbdbdb;
    font-size: 10px;
    margin-bottom: 0;
    padding-bottom: 15px;
    padding-top: 15px;
    text-align: center;
  }

  .blue-text{
    color:blue;
    font-size:12px;
  }

  .final-span-wrap{
    color:blue;
    text-align: center;
    width:100%;
  }
  .final-first-line{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
    width:100%;
  }

  .second-final-line{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    margin-bottom: 0;
    margin-left:auto;
    margin-right:auto;
    margin-top: 0;
    text-align: center;
    width: 100%;
  }


.lastitem{
  margin-top:0px;
  text-align: center;
  font-size: 10px;;
}